/* Styling for the Book List */
body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
}

header {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 20px;
}

h1 {
  font-size: 36px;
  margin: 0;
}

.book-container {
  max-width: 800px;
  margin: 20px auto;
  background-color: #fff;
  padding: 20px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
}

.book {
  border: 1px solid #ddd;
  padding: 10px;
  margin-bottom: 10px;
}

.book img {
  /* max-width: 100px; */
  height: auto;
  display: block;
  margin: 0 auto;
  width: 100%;
  object-fit: cover;
}
.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.flex-50 {
  flex: 0 1 48%;
}
.book h2 {
  font-size: 24px;
  margin: 10px 0;
}

.book p {
  margin: 0;
}
button {
  padding: 15px 30px;
  background-color: #007bff;
  color: #fff;
  border: none;
  cursor: pointer;
  font-size: 18px;
  border-radius: 5px;
  transition: background-color 0.3s ease-in-out;
}

button:hover {
  background-color: #0056b3;
}
.button-spacing {
  text-align: center;
  margin: 1rem;
}
.container {
  max-width: 1100px;
  margin: 0 auto;
}

.flex-50 {
  flex: 0 0 calc(45% - 20px); /* Adjust the width as needed */
  margin: 10px;
  padding: 20px;
  border: 1px solid #ccc;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: #fff;
}

.book-title {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.book-summary {
  font-size: 1rem;
  margin-bottom: 20px;
}

/* .book-info {
  display: flex;
  flex-direction: column;
} */

.book-info-item {
  display: block;
  margin-bottom: 20px;
  font-size: 1rem;
  color: #555;
}
/* Style for the highlighted author */
.book-author {
  font-weight: bold;
  color: #ff5733; /* Highlight color */
  padding: 5px; /* Add padding as needed */
  background-color: #f7f7f7; /* Background color behind the author's name */
}

/* You can add more CSS for book details as needed */
